@using ShishaProject.Services.Data.Models.Dtos
@using ShishaProject.Common.ExtensionMethods

@model ProductsFlavoursDto
<!-- Products container -->
@foreach (var flavour in Model.Flavours)
{
    <div class="product" data-product-number="@flavour.Id">
        <div class="product-content">
            <a asp-controller="Products" asp-action="FlavourDetails" asp-route-id="@flavour.Id">
                <img src="@flavour.Thumbnail" alt="Flavour Image">
            </a>

            <div class="product-text-and-price-container">
                <div class="product-text-container">
                    <p class="product-title">@flavour.Title</p>
                    <p>@flavour.ShortDescription</p>

                    <div class="packaging-choices-container">
                        @if (!flavour.Variations.IsNullOrEmpty())
                        {
                            @foreach (var variation in flavour.Variations)
                            {
                                <button type="button"
                            class="packaging-choice @(flavour.Variations.First().Id==variation.Id? "active": string.Empty)"
                            data-variation-id="@variation.Id">
                                    @variation.Weight
                                </button>
                            }
                        }
                    </div>

                </div>

                <div class="price-container">
                    <div class="quantity">
                        <label for="quantity">Quantity:</label>
                        <br>
                        <input type="text" name="quantity" id="quantity" value="1">
                    </div>

                    <div class="price-variants">
                        @if (!flavour.Variations.IsNullOrEmpty())
                        {
                            @foreach (var variation in flavour.Variations)
                            {
                                <div class="price @(variation.Id!=flavour.Variations.First().Id?"price-hidden" :string.Empty)">
                                    <p class="price-container-og-price">nyes</p>
                                    <p class="price-container-discount-price">@variation.Price</p>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>

        <button type="button" class="product-add-to-cart-button">ADD TO CART</button>
    </div>
}
@await Html.PartialAsync("_Pagination", Model.PaginationData)
