@using ShishaProject.Common
@using ShishaProject.Services.Data.Models.Dtos

@model ProductFlavourDto

<div class="hero-section">
    <div class="text-container">
        <h1>Product</h1>
        <p>Home / Shop / Product</p>
    </div>
</div>


<partial name="_SearchBar" />


<!-- Product details page -->
<div class="product-details-container">
    <div class="product-header-container">
        <!-- Crumb navigation -->
        <nav class="product-header-breadcrumbs">
            <ul>
                <li>
                    <a href="#">Crumb 1</a>
                </li>

                <li>
                    >
                </li>

                <li>
                    <a href="#">Crumb 2</a>
                </li>

                <li>
                    >
                </li>

                <li class="active">
                    <a href="#">Crumb 3</a>
                </li>
            </ul>
        </nav>

        <h2>Product name</h2>
    </div>

    <!-- Product info -->
    <div class="product-image-and-text-container">
        <div class="product-image-container">
            <img class="product-big-image" src="@Model.Thumbnail" alt="">

            <div class="product-image-navigation-container">
                <button class="active">
                    <img src="@Model.Thumbnail" alt="">
                </button>

                @foreach (var image in Model.Images)
                {
                    <button>
                        <img src="@image" alt="">
                    </button>
                }

            </div>
        </div>

        <div class="product-text-container" data-product-number="1">
            <div class="product-ratings-container">
                <span class="product-text-title">Ratings: </span>
                <span class="ratings-container">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                </span>

                <span>4.20 / 5.00</span>
            </div>

            <p>
                <span class="product-text-title">Product code: </span>
                <span>@Model.Id</span>
            </p>

            <p>
                <span class="product-text-title">Flavor: </span>
                <span>Chicken</span>
            </p>

            <p>
                <span class="product-text-title">Description: </span>
                <br>
                @Html.Raw(Model.Description)
            </p>
        </div>

        <div class="price-and-button-container">
            <p class="product-text-title">Packaging:</p>
            <div class="packaging-choices-container">
                @foreach (var variation in Model.Variations)
                {
                    <button type="button" class="packaging-choice active">@variation.Weight</button>
                }
            </div>

            <div class="price-container">
                <div class="quantity">
                    <label for="quantity">Quantity:</label>
                    <br>
                    <input type="text" name="quantity" id="quantity" value="1">

                </div>

                <div class="price-variants">
                    <div class="price">
                        <p class="price-container-og-price">200.00 BGN</p>
                        <p class="price-container-discount-price">@Model.Price BGN</p>
                    </div>

                    <div class="price price-hidden">
                        <p class="price-container-og-price">300.00 BGN OPRAVI GO</p>
                        <p class="price-container-discount-price">200.00 BGN</p>
                    </div>

                    <div class="price price-hidden">
                        <p class="price-container-og-price">400.00 BGN OPRAVI GO</p>
                        <p class="price-container-discount-price">300.00 BGN OPRAVI GO</p>
                    </div>

                    <div class="price price-hidden">
                        <p class="price-container-og-price">500.00 BGN OPRAVI GO</p>
                        <p class="price-container-discount-price">400.00 BGN</p>
                    </div>
                </div>
            </div>

            <button type="button" class="product-add-to-cart-button product-page">ADD TO CART</button>
           @*  <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@relatedFlavour.Id" class="product-related-text-container">*@
        </div>
    </div>

    <!-- Add extra content under here - suggested products, last reviewed, etc. -->
</div>

<!-- Related products -->
@if (@Model.RelatedFlavours.Count() > GlobalConstants.RelatedFlavoursCount)
{
    <div class="product-details-container">
        <div class="product-header-container">
            <h2>Related products</h2>
        </div>

        <!-- Related products container -->
    <div class="product-related-container">
            <!-- Container navigation -->
        <div class="product-related-navigation">
                <button class="product-related-button-nav product-related-button-nav-left product-related-button-nav-hidden">
                    <img src="~/icons/arrow-left.svg" alt="<">
                    <img src="~/icons/arrow-left-hover.svg" alt="<">
                </button>

                <button class="product-related-button-nav product-related-button-nav-right">
                    <img src="/icons/arrow-right.svg" alt=">">
                    <img src="/icons/arrow-right-hover.svg" alt=">">
                </button>
            </div>

            <div class="product-related-products">
                <div class="product-related-products-container">
                    <!-- FOR EACH THIS - START -->
                    @foreach (var relatedFlavour in Model.RelatedFlavours)
                    {
                        <div class="product-related">
                            <a asp-controller="Products" asp-action="FlavourDetails" asp-route-id="@relatedFlavour.Id" class="product-related-text-container">
                                <img src="@relatedFlavour.Thumbnail" alt="">

                                <div class="product-text-container">
                                    <p class="product-title">@relatedFlavour.Title</p>

                                    <p>Island boy</p>
                                </div>

                                <div class="price">
                                    <p class="price-container-og-price">ORIGINALNA  CENA</p>
                                    <p class="price-container-discount-price">@relatedFlavour.Price</p>
                                </div>
                            </a>

                            <a href="./product.html" class="product-add-to-cart-button">VIEW PRODUCT translate this</a>
                        </div>
                    }

                    <!-- FOR EACH THIS - END -->
            </div>
            </div>
        </div>
    </div>
}

<script src="~/js/product.js" asp-append-version="true"></script>
<script src="~/js/addToCart.js" asp-append-version="true"></script>