@using ShishaProject.Services.Data.Models.Dtos

@model ProductFlavourDto

<div class="hero-section">
    <div class="text-container">
        <h1>Product</h1>
        <p>Home / Shop / Product</p>
    </div>
</div>


<partial name="_SearchBar" />

<div class="product-details-container">
    <div class="product-header-container">
        <nav class="product-header-breadcrumbs">
            <ul>
                <li>
                    <a href="#">Crumb 1</a>
                </li>

                <li>
                    >
                </li>

                <li>
                    <a href="#">Crumb 2</a>
                </li>

                <li>
                    >
                </li>

                <li class="active">
                    <a href="#">Crumb 3</a>
                </li>
            </ul>
        </nav>
        <h2>Product name</h2>
    </div>

    <div class="product-image-and-text-container">
        <div class="product-image-container">
            <img class="product-big-image" src="@Model.Thumbnail" alt="">

            <div class="product-image-navigation-container">
                @foreach (var image in Model.Images)
                {
                    <button class="">
                        <img src="@image" alt="">
                    </button>
                }
            </div>
        </div>

        <div class="product-text-container" data-product-number="1">
            <div class="product-ratings-container">
                <span class="product-text-title">Ratings: </span>
                <span class="ratings-container">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                    <img src="../assets/icons/star.svg" alt="">
                </span>

                <span>4.20 / 5.00</span>
            </div>

            <p>
                <span class="product-text-title">Product code: </span>
                <span>@Model.Id</span>
            </p>

            <p>
                <span class="product-text-title">Flavor: </span>
                <span>Chicken</span>
            </p>

            <p>
                <span class="product-text-title">Description: </span>
                @Html.Raw(Model.Description)
            </p>
        </div>

        <div class="price-and-button-container">
            <p class="product-text-title">Packaging:</p>
            <div class="packaging-choices-container">
                <button type="button" class="packaging-choice active">20 pcs</button>
                <button type="button" class="packaging-choice">40 pcs</button>
                <button type="button" class="packaging-choice">1.00 kg</button>
                <button type="button" class="packaging-choice">100 kg</button>
            </div>

            <div class="price-container">
                <div class="quantity">
                    <label for="quantity">Quantity:</label>
                    <br>
                    <input type="text" name="quantity" id="quantity" value="1">
                </div>

                <div class="price">
                    <p class="price-container-og-price">@(Model.Price += (Model.Price*0.15m))</p>
                    <p class="price-container-discount-price">@Model.Price BGN</p>
                </div>
            </div>

            <button type="button" class="product-add-to-cart-button product-page">ADD TO CART</button>
        </div>
    </div>


</div>