@using ShishaProject.Services.Data.Models.Dtos
@using ShishaProject.Common.ExtensionMethods
@model ProductsFlavoursDto

<partial name="_SearchBar" />


<div class="cart-container" id="cart-container">
    <h2>Your cart</h2>

    <div class="cart-sections">
        <div class="cart-item-container">
            @foreach (var flavour in Model.Flavours)
            {
                foreach (var variation in flavour.Variations)
                {
                    <div class="cart-item" data-product-id="@flavour.Id" data-product-variation-id="@variation.Id">
                        <button type="button" class="cart-item-remove-icon-container">
                          <img src="~/icons/remove.svg" alt="Remove">
                        </button>

                        <div class="cart-item-image-container">
                            <img src="../assets/images/products/coal_example_2.jpg" alt="">
                        </div>

                        <div class="cart-item-text-container">
                            <div class="cart-item-name">
                                @flavour.Description
                            </div>

                            <div class="cart-item-text">
                                <div class="cart-item-text-left">
                                    <div class="item-ratings-container">
                                        <span class="item-text-title">Ratings: </span>
                                        <span class="ratings-container">
                                            <img src="../assets/icons/star.svg" alt="">
                                            <img src="../assets/icons/star.svg" alt="">
                                            <img src="../assets/icons/star.svg" alt="">
                                            <img src="../assets/icons/star.svg" alt="">
                                            <img src="../assets/icons/star.svg" alt="">
                                        </span>

                                        <span>4.20 / 5.00</span>
                                    </div>

                                    <p>
                                        <span class="item-text-title">Product code: </span>
                                        <span>1234567890</span>
                                    </p>

                                    <p>
                                        <span class="item-text-title">Flavor: </span>
                                        <span>Chicken</span>
                                    </p>
                                </div>

                                <div class="cart-item-text-right">
                                    <div class="cart-item-packaging-container">
                                        <p class="item-text-title">Packaging:</p>
                                        <div class="packaging-choices-container">
                                            <button type="button" class="packaging-choice active">@variation.Weight</button>
                                        </div>
                                    </div>

                                    <div class="price-container">
                                        <div class="quantity">
                                            <label for="quantity">Quantity:</label>
                                            <br>
                                            <input type="text" name="quantity" id="quantity" value="@variation.Quantity">

                                        </div>
                                        <div class="price-variants">
                                            <div class="price">
                                                <p class="price-container-og-price">200.00 BGN</p>
                                                <p class="price-container-discount-price">100.00 BGN</p>
                                            </div>

                                            <div class="price price-hidden">
                                                <p class="price-container-og-price">300.00 BGN</p>
                                                <p class="price-container-discount-price">200.00 BGN</p>
                                            </div>

                                            <div class="price price-hidden">
                                                <p class="price-container-og-price">400.00 BGN</p>
                                                <p class="price-container-discount-price">300.00 BGN</p>
                                            </div>

                                            <div class="price price-hidden">
                                                <p class="price-container-og-price">500.00 BGN</p>
                                                <p class="price-container-discount-price">400.00 BGN</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="cart-item-total-price-container" id="cart-item-total-price-container">
            <div class="cart-item-total-price-text">
                <p class="cart-item-total-header">Total</p>

                <p>
                    <span id="cart-item-total-price">100.00</span>
                    <span>BGN</span>
                </p>

                <p>
                    <span id="cart-item-total-items">10</span>
                    <span>items</span>
                </p>
            </div>

            <div class="cart-order-button-container">
                <a asp-controller="Payment" asp-action="Checkout" id="cart-oder-button">Place order</a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/cart.js" asp-append-version="true"></script>