@using ShishaProject.Web.ViewModels.User;
@model RegistrationInputModel

<partial name="_Hero" />

<partial name="_SearchBar" />

<!-- Product details page -->
<div class="auth-form-container">
    <form method="POST">
        <h2>REGISTER</h2>

        <label for="email">
            E-mail
            <input type="email" asp-for="@Model.Email">
        </label>

        <label for="username">
            Username
            <input asp-for="@Model.Username">
        </label>

        <label for="password">
            Password
            <input type="password" asp-for="@Model.Password">
        </label>

        <label for="repeat_password">
            Repeat Password
            <input type="password" asp-for="@Model.RepeatPassword">
        </label>

        <label for="first_name">
            First Name
            <input asp-for="@Model.FirstName">
        </label>

        <label for="last_name">
            Last Name
            <input asp-for="@Model.LastName">
        </label>

        <label for="phone_number">
            Phone
            <input type="tel" asp-for="@Model.PhoneNumber">
        </label>

        <label for="address">
            Address
            <input asp-for="@Model.Address">
        </label>

        <div class="login-helpful-links-container login-helpful-links-container-one">
            <p>Have an account? <a asp-controller="Users" asp-action="LoginUser">Login!</a></p>
        </div>

        <button type="submit" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">REGISTER</button>
    </form>
</div>