@using ShishaProject.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    @*custom css*@
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <span hidden id="PageLanguage">@this.ViewData["Language"]</span>
    <span class="AntiForgery"> @Html.AntiForgeryToken() </span>
    <partial name="_Header" />
    <partial name="_CookieConsentPartial" />
    <main>
        @this.RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @*custom js*@
    <script src="~/js/requests.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>
    <script src="~/js/header.js" asp-append-version="true"></script>
    <script src="~/js/products.js" asp-append-version="true"></script>
    <script src="~/js/search-bar.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
